    <div class="modal-header">
        <h3 class="modal-title">Sign In</h3>
    </div>
    <div class="modal-body">
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" ng-model="username" type="text" placeholder="xxxx@gmail.com">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" ng-model="password" type="password" placeholder="********">
                </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="login()">Log In</button>
    </div>